@import url(../reset.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


*{
    font-family: 'Spoqa Han Sans Neo';
}

body{
    min-height : 100vh;
    width : 100%;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}  


.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.navbar{
    width: 100%;
    height: 100px;
    background-color: #f9ca24;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > p{
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    font-family: 'Spoqa Han Sans Neo';
}

.goods-container{
    display: flex;
    width: 960px;
    justify-content: space-between;
    margin: 0 auto;
}

.goods{
    border: 1px solid #f9ca24;
    width: 300px;
    height: 100px;
    border-radius: 8px;
}


.cartList{
    display: flex;
    flex-direction: column;
    width: 960px;
    justify-content: flex-start;

}

.cartList > p:first-child{
    font-weight: 700;
    font-size: 28px;
}
